# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Виртуальные окружения
.venv/
venv/
env/

# Редакторы и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db

# Временные файлы Word при открытии отчёта
~$*.docx
